body {
  background-color: navy;
  margin-left: 2rem;
}
h1 {
  font-size: 5rem;
  color: turquoise;
  padding-top: 40px;
  padding-bottom: 20px;
}
h2 {
  font-size: 3rem;
  color: whitesmoke;
}
h4 {
  font-size: 2rem;
  color: whitesmoke;
  padding-top: 80px;
  padding-bottom: 20px;
  text-decoration: underline;
}
ol {
  list-style-type: decimal;
  margin-left: 1rem;
  font-size: 1rem;
  color: whitesmoke;
}
ul {
  list-style-type: disc;
  font-size: 2rem;
  margin-left: 2rem;
}
li {
  margin: 10x 0px 0px 0px;
  color: whitesmoke;
  padding-bottom: 1rem;
}
footer {
  color: yellow;
  padding-top: 4rem;
}
